body {

}

.page-container{ 
max-width: 1300px;
min-height: 700px;
background-image: url(https://am3pap004files.storage.live.com/y4mx2tqfHX_6FJCzxTP8pRRf2Bj71v7uXpcfE-8PUsyzD7jXUQtxykUDX2noeqRTNVZFkBaUaYemW0y9SuQbec3dbsXVn1K-lD3V75gmLrDppOQ5vfjRCi0uY7-gHuMKANmmQcdrU98v4Ksx7lkeaI6RjKF7wc0KC_TT6RCb2E3wT6GxkFWaETQCfkJ7mi13H6edr5io2pc0_G30HMWY33Dv3kpx9tkxshIs4K0Mh40bQI?encodeFailures=1&width=1366&height=768);
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: flex-start;
align-items: center;
flex-wrap: wrap;
align-content: center;
margin:20px auto;

}



h1{
font-family: 'Lily Script One', cursive;
font-size: 200px;

text-shadow: 2px -1px 2px rgba(252, 252, 252, 0.8);
    color: #f41ba6;
}

h2{
    font-family: 'Lily Script One', cursive;
    text-align: center;
    color: #E12E89;
    font-size: 40px ;
    margin-top: 25px;
    margin-top: 50px;
}

h3{
    font-size: 30px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
}

h4{
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}
 ul {
    padding: 0;
    margin:0;
 
     text-align: left;
    
    
 }

 li {
     display: inline;
    list-style: none;
    line-height: 45px;
     margin: 0 60px;
 }

 a{
font-family: 'Josefin Sans', sans-serif;
text-decoration: none;
font-size: 18px;
color: #E12E89
}


p{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    
 }

 hr{
    color: #E12E89;
 }
 
 nav{

    padding: 20px 0;
 }
 
 .info{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;

 }



 .trailer-btn{
    border-radius: 5px;
    background-color: #E12E89;
    color: #fff;
    border-color: #E12E89;
    padding: 5px 5px 5px 5px;
   

 }

 .trailer-btn:hover{
    color: #E12E89;
    border-color: #E12E89;
 }

 .poster{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
 }




.fav-link{
    margin-left: 10px;
 
}

.logo{
    max-height: 50px;
    margin-left: 13px;
}

 .cast {
     
     transition: all 200ms ease-in-out;
     padding-bottom: 25px;
     margin-bottom: 50px;
 }

.cast img {
    width: 100%;
    border-radius: 10px;
}

.cast img:hover {
    transform: scale(1.1);
}
